
i.glyph-icon:before {
        font-size: 32px;
        color: #767676;
        margin-left: 0;
}
.icon{
	
	width: 32px; 
	height: 32px;
}


.icon-home{
	background-image: url('../img/home.png');
}
.active .icon-home{
	background-image: url('../img/home-act.png');
}

.icon-like{
	background-image: url('../img/fav.png');
}
.active .icon-like{
	background-image: url('../img/fav-act.png');
}

.icon-category{
	background-image: url('../img/cat.png');
}
.active .icon-category{
	background-image: url('../img/cat-act.png.png');
}

.icon-colection{
	background-image: url('../img/collect.png');
}
.active .icon-colection{
	background-image: url('../img/collect-act.png');
}

.icon-search{
	background-image: url('../img/search.png');
}
.active .icon-search{
	background-image: url('../img/search-act.png');
}

#apk{
margin: 0px auto;
font:13px "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";


overflow: hidden;
}
#apk .page{
background: #eaeef1;
}
#apk .searchbar{
	background: none;
	padding: 0px 10px;
	margin-right: 10px;
	width: 100%;
}
#apk .page-content{
	overflow: none;
}
#apk .searchbar .searchbar-input,#apk .searchbar .searchbar-input input{
	width: 100%;
	border-radius: 0px;
}

#apk .button{
	border: 1px solid rgba(90, 181, 70, 0.77);
	color: rgb(82, 82, 82);
	font-weight: bold;
}

#apk .toolbar-inner .active i.glyph-icon:before{
	color: #FFF;
}
#apk .navbar i.glyph-icon{
	line-height: normal;
}

#apk .navbar i.glyph-icon:before{
	color: #FFF;
}

#apk .navbar{
	background-color: rgba(90, 181, 70, 0.77);
	color: #FFF;
	border: 0px;
}

#apk .navbar a.icon-only{
	margin-top: 5px;
}
#apk .content-block-title {
	margin:10px;
	margin-top: 10px;
	line-height: 1.5;
	margin-left: 10px;
}

#apk .lst_item .item-after{
	position: absolute;
	right: -2px;
	bottom: -45px;
	padding: 15px 40px;
	background-image: url('../img/download-bt.png');
	background-repeat: no-repeat;
	background-size: 80px;
	opacity: 0.9;
}
#apk .lst_item .item-after i.glyph-icon:before{
	color: #4caf50;
}


#apk .btn-view{
	border-radius: 2px;
	height: 30px;
display: block;
color: #FFF;
background-color: rgba(90, 181, 70, 0.77);
box-shadow: 0px;
margin: 10px;
margin-bottom: 20px;
text-align: center;
line-height: 30px;
}
#apk .info-app .btn-view{
	background: #4caf50;;

}
.btn-download{
	background: #3D87E7;
	width: 70px;
	color: #FFF;
	height: 16px;
	line-height: 16px;
	 
	background-position: top left;
	border: 1px solid #3D87E7;
	padding: 5px 0px;
	font-weight: none;
	font-size: 14px;
	text-align: center;

	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
}


#apk .btn_store{
	border-radius: 2px;
	position: relative;
	background: rgba(208, 12, 12, 0.79);
	padding: 15px 5px;
	display: block;
	text-align: center;
	
	color: #FFF;
	margin: 10px;

	font-weight: 500;
	flex-shrink: 1;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;

}

#apk .btn_store  i.glyph-icon:before{
	color: #FFF;
	position: absolute;
	display: none;
}


#apk .lst_item{
	margin-bottom: 0px;
}
#apk .lst_item ul li{
	border-bottom: 1px solid #CCC;
}
#apk .lst_item .item-title-row{
	position: relative;
	padding-right: 0px;
	font-size: 14px;

}
#apk .lst_item .item-content{
	padding: 10px;
}
#apk .lst_item .item-media{
	padding: 0px;
}
#apk .lst_item .item-inner{
	padding: 0px;
	border: 0px;
}
#apk .lst_item .item-inner .item-text{
	font-size: 12px;
	height: 24px;
}
#apk .lst_item img{
	width: 70px;
}
#apk .lst_item i.glyph-icon:before{
	color: rgba(90, 181, 70, 0.77);
	 font-size: 38px;
}
#apk .item-title-row{
	background: none;
}

#apk .lst_item .item-title{
	color: #3F4041;
	font-weight: bold;
	padding-bottom: 5px;
}
#apk .lst_item .item-subtitle{
	color: rgb(152, 152, 152);
	font-size: 12px;
}
#apk .detailt-colection .lst_item{
	margin-top: 0px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 480px;
    margin: 0px auto;
}

#apk .lst_topapp{
	padding-top: 0px;
	margin-bottom: 35px;
}

#apk .lst_topapp .buttons-row{
	margin: 0px 10px;
}

#apk .lst_topapp .content-block{
	margin-top: 0px;
	margin-bottom: -25px;
	padding: 0px 0px;
}
#apk .lst_topapp .buttons-row a{
	background-color: #FFF;
}

#apk .lst_topapp .buttons-row a:first-child{
	border-radius: 2px 0 0 2px;
}
#apk .lst_topapp .buttons-row a:last-child{
	border-radius: 0 2px 2px 0;
}
#apk .lst_topapp .buttons-row .active{
	
	background-color: rgba(90, 181, 70, 0.77);

}
#apk .lst_topapp .info-app{
	margin-top: 40px;
}
#apk .lst_topapp .info-app #owl-demo .item img{
	
}

#apk .lst_category{
	text-align: center;
	padding: 0px 0px;
	margin: 0px 10px;
	margin-bottom: 10px;
}
#apk .lst_category img{
	width: 48px;
	display: block;
	margin: 0px auto;
}
#apk .lst_category .item{
	margin: 5px;
	padding: 3px;
	background-color: #FFF;
}
#apk .title_category{

}
#apk .lst_category a{
	color: #767676;
}

#apk .lst_colection{
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px;
}
#apk .lst_colection .item{
	margin: 0px 10px 0px 10px ;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	background-color: #FFF;
}
#apk .lst_colection .item .name-col{
	float: left;
	color: #767676;
	padding: 5px;
}
#apk .lst_colection .item .view-col{
	float: right;
	color: #767676;
	padding: 5px;
}
#apk .lst_colection .item img{
	width: 100%;
	max-width: 480px;
	display: block;
	margin: 0px auto;
}




#apk .detailt-app{
	padding: 0px 0px;
	margin-bottom: 10px;
}
#apk .detailt-app .lst_item{
	margin: 0px;
}
#apk .detailt-app i.glyph-icon:before{
	font-size: 18px;
}


#apk .detailt-app .btn-download{
	background-color: #4caf50;
	border: 0px;
	border-radius: 2px;
	margin: 0px 10px;
	position: absolute;
	z-index: 9999;
	width: 30%;
	right: 0px;

	bottom: 5px;
}

.info-app .list-block{
	margin: 0px ;
}



#apk .box-comment .list-block{
	margin: 5px 0px;
}

#apk .box-comment .list-block textarea{
	height: 50px;
}

#apk .info-app .content-app{
	margin: 0px 10px;
}

#apk .lst_vote .item{
	text-align: center;

}
#apk .lst_vote .item span{
	display: block;
}
#apk .lst_vote .item i.glyph-icon:before,#apk .lst_vote .item a{
	color: #767676;
}
#apk .lst_vote .active i.glyph-icon:before,#apk .lst_vote .active a{
	color: rgba(90, 181, 70, 0.77);
}

#apk .lst_comment{
	margin: 0px;
	border-radius: 0px;
}

#apk .btn_send_comment{
	padding: 5px 25px;
	float: right;
	margin: 10px;
	background: #3D87E7;
	border: 0px;
	color: #FFF;
}



.clear{
	clear: both;
}
.loading{
	position: absolute;
	top: 0px;
	bottom: 50px;
	width: 100%;
	/* height: 90%; */
	margin-top: 40px;
	display: none;
	background-color: red;
	z-index: 5002;
	background-color: rgba(255, 255, 255, 0.8);
}
.loading h5{
	width: 320px;
	text-align: center;
	font-size: 18px;
	margin: 0px auto;
	margin-top: 150px;
}
#apk .toolbar{
	background-image: url('../img/bg-toolbar.png');
	padding-bottom: 10px;
}
#apk .toolbar-inner a.active{
	color: #FFF;
}