{{define "index"}}
<!DOCTYPE html>
<html>
   <head>      
      <meta content="width=device-width, initial-scale=0.93, maximum-scale=0.93, user-scalable=0" name="viewport">
      <meta content="yes" name="mobile-web-app-capable">
      <meta content="yes" name="apple-mobile-web-app-capable">
      <meta name="keywords" content="{{.Keywords}}" >
      <meta name="description" content="{{.Description}}" >
      <!--<link rel="stylesheet" href="https://www.gstatic.com/play/store/web/css/2885474592-lowlife_css_ltr.css">-->
      <link rel="stylesheet" href="/v2/css/app.css">
      <link href="{{.Favicon}}" rel="shortcut icon">
      <link href="/v2/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
       <link href="/owl-carousel/owl.carousel.css" rel="stylesheet">
       <link href="/owl-carousel/owl.theme.css" rel="stylesheet">

      <title id="main-title">{{.Name}}</title>
      <script type="text/javascript">
         document.partner="{{.Partner}}";
         document.storeName="{{.Name}}";
         document.footer = {{.Footer}};   
         document.analytics = "{{.Analytics}}";              
         document.source = "";       
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-56768553-1', 'auto');     
        if (document.analytics != null) {
            ga('create', document.analytics, 'auto', {'name': 'pubTracker'});
        }
        window.ga = ga;
      </script>
   </head>
   <body class="no-focus-outline phone-optimized" style="zoom: 1;">      
    {{if .HasPopup}} {{template "popup" .}} {{end}}
      <div id="mainContent"><div>          
      <script src="/owl-carousel/jquery-1.9.1.min.js"></script>
      <script src="/owl-carousel/owl.carousel.min.js"></script>
      <!--<script src="/v2/js/vendor/jquery-1.10.2.min.js"></script>-->
      <script src="/v2/js/vendor/react-with-addons.min.js"></script>       
      <script src="/v2/js/vendor/react-router.js"></script>        
      <script type="text/javascript" src="/v2/js/build/template.js"></script>
      <script type="text/javascript" src="/v2/js/build/app.js"></script>      
   </body>
</html>
{{end}}