{{define "appdetails"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{{.App.Name}}</title>
    <meta name="keywords"
          content=".Sdetails.Keywords">
    <meta name="description"
          content="{{.Sdetails.Description}}">
    <link rel="stylesheet" href="/v3/base.css">
    <link rel="shortcut icon" href="http://img.1mobile.com/web2/m.1mobile.com/wap2/img/favicon.ico">
    <script type="text/javascript">
        document.partner = {{.Sdetails.Partner}};
    </script>
</head>
<body class="bg">
<header class="nav_box subnav_box"><a id="J-top"></a>
  <ul class="nav_list clearfix">
    <li class="nav_control fl"><a href="javascript:history.go(-1);" class="icon_back" data-hover="icon_back_hover">back</a></li>    
    <li class="nav_function fr"><a href="/search" class="icon_search" data-hover="icon_search_hover">Search</a><a href="javascript:void(0);" class="icon_nav_more" data-hover="icon_nav_more_hover" data-id="J-all-nav-list" data-mask="true" data-checkclass="true">more navigation</a></li>
    <li class="nav_content bfc"><span class="subnav_tit">Chi tiết</span></li>
  </ul>
</header>
{{template "rightSidebar"}}
<div class="container">
    <div id="J-detail-info">
        <section class="detail_baseinfo clearfix"><img
                src="{{.App.Thumbnail}}"
                class="img_baseinfo">
            <dl class="detail_baseinfo_list bfc">
                <dt>{{.App.Name}}</dt>
                <dd class="detail_baseinfo_other">{{.App.Vendor}}</dd>
                <dd class="detail_baseinfo_score clearfix">{{.App.Total_download}} Lượt tải
                </dd>
                <dd class="detail_baesinfo_speed"><a href="javascript:void(0)" class="btn_detail_download"
                                                     data-hover="btn_detail_download_hover"
                                                     data-name="{{.App.Id}}"
                                                     data-href="/app/cdownload/{{.App.Id}}"
                                                     onclick="market_download(this)">Tải về</a></dd>
            </dl>
            <!-- <div class="detail_speedup"><i class="icon_speedup fl"></i><div class="bfc"><strong>speed up 80%</strong><p>Mobile Market has provided quick download service for 300 million users all over the world</p></div></div>-->
        </section>
        <section class="detail_screenshort">
            <div class="detail_screenshort_box" id="J-screenshort">
                <ul class="detail_screenshort_list clearfix">
                    {{range .App.Ss}}
                    <li><a href="{{.}}"
                           target="_blank" data-hover="detail_screenshort_hover"
                           data-loading="/v3/img/loading.gif"><img
                            src="{{.}}"></a>
                    </li>
                    {{end}}                    
                </ul>
            </div>
        </section>
        <section class="detail_moreinfo">
            <ul class="detail_moreinfo_list">
                <li class="clearfix"><span class="fl">Lượt tải: {{.App.Total_download}}</span><span class="fr">37.9MB</span></li>
            </ul>
        </section>
        <section class="detail_item mt20" id="J-description" data-classname="detail_item_des_more"><h2
                class="detail_item_tit">MÔ TẢ</h2> <a href="javascript:void(0);" class="detail_item_cnt"
                                                            data-hover="detail_item_cnt_hover" data-id="J-description"
                                                            data-checkclass="true">{{.ShortDesc}}<p class="btn_detail_view"><i
                    class="icon_arror"></i></p></a> <a href="javascript:void(0);"
                                                       class="detail_item_cnt detail_item_cnt_more"
                                                       data-id="J-description">{{.Desc}}<p
                    class="btn_detail_view"><i class="icon_arror_up"></i></p></a></section>

        <section class="mt5">
            <div class="app_list_head p8">
                <div class="clearfix"><h2 class="app_list_head_tit fl">Các ứng dụng cùng thể loại</h2>
                    <!-- <a href="/developer/paramount-digital-entertainment.html?pkgname=com.paramount.interstellar" class="btn_more fr" data-hover="btn_more_hover">More</a>-->
                </div>
            </div>
            <div class="p8">
                <ul class="app_list_a clearfix">
                    {{range .RelatedApps}}
                    {{if .}}
                    <li>
                        <div class="app_list_a_cnt"><a href="/app/{{.Id}}.html" class="app_list_a_link"
                                                       data-hover="app_list_a_link_hover"><img
                                src="{{.Thumbnail}}"
                                class="app_list_a_img">

                            <p class="app_list_a_tit">{{.Name}}</p><span class="icon_score"><i
                                    style="width:100%;"></i></span></a><a href="javascript:void(0)" class="btn_download"
                                                                          data-hover="btn_download_hover"
                                                                          data-name="{{.Id}}"
                                                                          data-href="/app/cdownload/{{.Id}}"
                                                                          onclick="market_download(this)">Tải về</a>
                        </div>
                    </li>
                    {{end}}
                    {{end}}
                </ul>
            </div>
        </section>
    </div>
</div>
<footer class="foot_box mt20">
    {{.Sdetails.Footer}}
</footer>
{{template "footerAds"}}
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/zepto.min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/iscroll-min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/template.js"></script>
<script src="/v3/js/common.js"></script>
<script type="text/javascript" src="http://img.1mobile.com/web2/m.1mobile.com/wap/js/ga.js"></script>
</body>
</html>
{{end}}