{{define "category"}}
<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Local Top - Top Charts Apps &amp; Games free download | m.1mobile.com</title>
    <meta name="keywords" content="Local Top, Top charts, Top download, Top trends, free download, Top Androis Apps, Top Android Games, 1Mobile, 1Mobile Market,Steel Avengers: Scorched Earth,Facebook,Snapchat,Twitter,Pinterest,">
    <meta name="description" content="Top Android Apps &amp; Games  free download in m.1mobile.com, Apps &amp; Games in local top, Apps &amp; Games in global top">
    <link rel="stylesheet" href="/v3/base.css">
    <link rel="shortcut icon" href="http://img.1mobile.com/web2/m.1mobile.com/wap2/img/favicon.ico">
</head>
<body class="bg">
<header class="nav_box subnav_box"><a id="J-top"></a>
  <ul class="nav_list clearfix">
    <li class="nav_control fl"><a href="javascript:history.go(-1);" class="icon_back" data-hover="icon_back_hover">back</a></li>    
    <li class="nav_function fr"><a href="/search" class="icon_search" data-hover="icon_search_hover">Search</a><a href="javascript:void(0);" class="icon_nav_more" data-hover="icon_nav_more_hover" data-id="J-all-nav-list" data-mask="true" data-checkclass="true">more navigation</a></li>
    <li class="nav_content bfc"><span class="subnav_tit">{{.Cname}}</span></li>
  </ul>
</header>
{{template "rightSidebar"}}
<div class="container">
    <section class="p8">
        <ul class="app_list_b app_list_c" id="J-topcharts">
        </ul>
        <div id="J-loading">
            <p class="loading_box"><span class="icon_loading"></span></p>
            <a href="javascript:void(0);" class="btn_see_more" data-hover="btn_see_more_hover" id="J-seemore"><i class="icon_arror"></i>Ấn vào đây để xem thêm</a>
        </div>
    </section>
</div>
<footer class="foot_box mt20">
    {{.Sdetails.Footer}}
</footer>
{{template "footerAds"}}
<section class="bar_market"><a href="#" class="market_link"> <span class="icon_market_big fl"></span> <span
        class="btn_download_big fr">Tải về ngay</span>

    <div class="market_des bfc"><p>{{.Sdetails.Name}}</p>1,500,000 ứng dụng miễn phí</div>
</a></section>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/zepto.min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/iscroll-min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/template.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/common.js"></script>
<script type="text/javascript" src="http://img.1mobile.com/web2/m.1mobile.com/wap/js/ga.js"></script>
<script src="/v3/js/handlebars.runtime.js"></script>
<script src="/v3/js/handlebars/template.js"></script>
<script type="text/javascript">
    var initialData = {{.AppList}};
    var template = Handlebars.templates.appListTemplate(initialData);    
    var partner = {{.Sdetails.Partner}};
    $("#J-topcharts").append(template);
</script>
<script>

    (function () {
        var nCurrentPage = 2,
                pagesCount = 0,
                $loadingBox = $('#J-loading'),
                $btnSeeMore = $('#J-seemore'),
                $list = $('#J-topcharts'),
                responseData = false,
                seeMore = function (e) {
                    e.preventDefault();
                    $loadingBox.removeClass('loading_seemore');
                    $loadingBox.addClass('loading');
                    nCurrentPage++;
                    $(window).unbind('scroll', loadingData);
                    getData();
                },
                renderingData = function () {
                    var tempCommentData;
                    $loadingBox.addClass('loading');
                    var html = Handlebars.templates.appListTemplate(responseData);    
                    $loadingBox.removeClass('loading');
                    $list.append(html);                   
                    if (responseData != null && responseData.length > 0) {
                        nCurrentPage++;
                    } 
                    $(window).bind('scroll', loadingData);
                },
                readData = function (data) {
                    responseData = data;
                    renderingData(responseData);
                },                
                getData = function () {
                    $.ajax({
                        type: 'GET',
                        url: '/api/apps-category/{{.Sdetails.Partner}}/{{.Cid}}/' + nCurrentPage + "/10",
                        dataType: 'json',
                        success: readData
                    })
                },
                getLoadingBoxTop = function () {
                    return $loadingBox.offset().top;
                },
                getScrollPosition = function () {
                    var nScrollTop = document.body.scrollTop ? document.body.scrollTop : document.documentElement.scrollTop;
                    return nScrollTop + $(window).height();
                },
                isLoading = function () {
                    if (getScrollPosition() > getLoadingBoxTop()) {
                        return true;
                    } else {
                        return false;
                    }
                },
                loadingData = function () {
                    if (isLoading()) {
                        $loadingBox.addClass('loading');
                        $(window).unbind('scroll', loadingData);
                        window.setTimeout(function () {
                            getData();
                        }, 150);

                    }
                };
        $(window).bind('scroll', loadingData);
        $btnSeeMore.bind('click', seeMore);        
    })();
</script>
</body>
</html>
{{end}}