{{define "categories"}}
<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords"
          content="{{.Sdetails.Keywords}}">
    <meta name="description"
          content="{{.Sdetails.Description}}">
    <link rel="stylesheet" href="/v3/base.css">
    <link rel="stylesheet" href="/v3/base.css">
    <link rel="shortcut icon" href="/v3/img/favicon.png">
    <script type="text/javascript">
        document.partner = {{.Sdetails.Partner}};
    </script>
    
</head>
<body class="bg">
{{template "mainHeader" .Sdetails.Name}}
{{template "leftSidebar"}}
{{template "searchtools" .}}
{{template "navbar" "categories"}}
<div class="container">
    <section class="mt5">
        <div class="p8">
            <ul class="subnav_category_list clearfix">
            {{range .Categories}}
                <li><a href="/app/category/{{.Id}}" data-hover="subnav_category_hover"><img
                        src="{{.Icon}}"
                        class="img_catetory">{{.Name}}</a></li>            
            {{end}}
            </ul>
        </div>
    </section>
</div>
<footer class="foot_box mt20">
    {{.Sdetails.Footer}}
</footer>
{{template "footerAds"}}
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/zepto.min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/iscroll-min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/template.js"></script>
<script src="/v3/js/common.js"></script>
<script type="text/javascript" src="http://img.1mobile.com/web2/m.1mobile.com/wap/js/ga.js"></script>
</body>
</html>
{{end}}