{{define "home"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{{.Sdetails.Name}}</title>    
    <meta name="keywords"
          content="{{.Sdetails.Keywords}}">
    <meta name="description"
          content="{{.Sdetails.Description}}">
    <link rel="stylesheet" href="/v3/base.css">
    <link rel="shortcut icon" href="http://img.1mobile.com/web2/m.1mobile.com/wap2/img/favicon.ico">
</head>
<body class="bg">
{{template "mainHeader" .Sdetails.Name}}
{{template "leftSidebar"}}
{{template "searchtools" .}}
{{template "navbar" "home"}}
<div class="container">
    <!--Slider begins-->
    {{range .Portions}}
	    <section class="mt5">
	        <div class="p8"><a href="{{.Banner.Link}}"><img
	                src="{{.Banner.Banner}}" class="index_img"
	                title=""></a></div>
	    </section>
	    {{if .FirstCategory}}
	    <section class="mt5"><a href="/app/category/{{.FirstCategory.Id}}" class="app_list_head p8"
	                            data-hover="app_list_head_hover">
	        <div class="clearfix"><h2 class="app_list_head_tit fl">{{.FirstCategory.Name}}</h2> <span
	                class="btn_more fr">Xem thêm</span></div>
	        <p class="app_list_head_des">{{.FirstCategory.Sub}}</p></a>

	        <div class="p8">
	            <ul class="app_list_a clearfix">
	            {{range .FirstLine}}
	            	{{if .}}
		                <li>
		                    <div class="app_list_a_cnt"><a href="/app/{{.Id}}.html" class="app_list_a_link"
		                                                   data-hover="app_list_a_link_hover"><img
		                            src="{{.Thumbnail}}"
		                            class="app_list_a_img">

		                        <p class="app_list_a_tit">{{.Name}}</p><span class="icon_score"><i
		                                style="width:84%;"></i></span></a><a href="javascript:void(0);" class="btn_download"
		                                                                     data-hover="btn_download_hover"
		                                                                     onclick="market_download(this)"
		                                                                     data-name="{{.Id}}"
		                                                                     data-href="/app/{{.Id}}.html">Tải về</a>
		                    </div>
		                </li>  
	                {{end}}          
	            {{end}}
	            </ul>
	        </div>
	    </section>
	    {{end}}
	    {{if .SecondCategory}}
	    <section class="mt5"><a href="/app/category/{{.SecondCategory.Id}}" class="app_list_head p8"
	                            data-hover="app_list_head_hover">
	        <div class="clearfix"><h2 class="app_list_head_tit fl">{{.SecondCategory.Name}}</h2> <span
	                class="btn_more fr">Xem thêm</span></div>
	        <p class="app_list_head_des">{{.SecondCategory.Sub}}</p></a>

	        <div class="p8">
	            <ul class="app_list_a clearfix">
	            {{range .SecondLine}}
	            	{{if .}}
		                <li>
		                    <div class="app_list_a_cnt"><a href="/app/{{.Id}}.html" class="app_list_a_link"
		                                                   data-hover="app_list_a_link_hover"><img
		                            src="{{.Thumbnail}}"
		                            class="app_list_a_img">

		                        <p class="app_list_a_tit">{{.Name}}</p><span class="icon_score"><i
		                                style="width:84%;"></i></span></a><a href="javascript:void(0);" class="btn_download"
		                                                                     data-hover="btn_download_hover"
		                                                                     onclick="market_download(this)"
		                                                                     data-name="{{.Id}}"
		                                                                     data-href="/app/{{.Id}}.html">Tải về</a>
		                    </div>
		                </li>  
	                {{end}}             
	            {{end}}
	            </ul>
	        </div>
	    </section>
	    {{end}}	    
    {{end}}
</div>
<footer class="foot_box mt20">
    {{.Sdetails.Footer}}
</footer>
{{template "footerAds"}}

<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/zepto.min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/iscroll-min.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/template.js"></script>
<script src="http://img.1mobile.com/web2/m.1mobile.com/wap2/js/common.js"></script>
<script type="text/javascript" src="http://img.1mobile.com/web2/m.1mobile.com/wap/js/ga.js"></script>
</body>
</html>
{{end}}