{{define "leftSidebar"}}
<dl class="sub_nav_list" id="J-sub-nav-list" data-classname="sub_nav_list_active">
    <dd><a href="/" data-hover="sub_nav_link_hover">Trang chủ<i class="icon_arrow_right"></i></a>
    </dd>
    <dd><a href="/top/hot" data-hover="sub_nav_link_hover">Top ứng dụng<i class="icon_arrow_right"></i></a></dd>
    <dd><a href="/app/collections" data-hover="sub_nav_link_hover">Chọn lọc<i class="icon_arrow_right"></i></a></dd>
    <dd><a href="/app/categories" data-hover="sub_nav_link_hover">Thể loại<i class="icon_arrow_right"></i></a></dd>
</dl>
{{end}}