{{define "searchBox"}}
    <div class="tool_search_box">
        <form method="get" action="/search">
            <ul class="tool_search_list clearfix">
                <li class="tool_search_cnt"><p class="tool_search_list_p"><input type="search" class="txt_search" name="keyword" autocomplete="off" id="J-txt-search"><a href="javascript:void(0);" class="btn_txt_clear" data-hover="btn_txt_clear_hover" id="J-clear-txt"></a></p></li>
                <li class="tool_search_sub"><a href="javascript:void(0);" class="btn_search_cancel" id="J-btn-cancel" data-hover="btn_search_cancel_hover">&nbsp;&nbsp;&nbsp;Huỷ&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
        </form>
    </div>
{{end}}